<a href="https://colab.research.google.com/github/Bellahmer-hacene/data-science/blob/master/zillow_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
colonne a supprimer : 
architecturalstyletypeid, basementsqft,calculatedbathnbr,finishedfloor1squarefeet,finishedsquarefeet6,finishedsquarefeet13,
finishedsquarefeet50,heatingorsystemtypeid ,latitude,longitude,numberofstories,parcelid,poolsizesum,censustractandblock,
regionidneighborhood,storytypeid,typeconstructiontypeid,yardbuildingsqft17,yardbuildingsqft26,taxdelinquencyflag,
taxdelinquencyyear,fips

colonne a garder : airconditioningtypeid*, bathroomcnt, bedroomcnt,buildingclasstypeid*,buildingqualitytypeid-,decktypeid*,
threequarterbathnbr*0,calculatedfinishedsquarefeet,finishedsquarefeet12,finishedsquarefeet15$,fips,fireplacecnt*0,fullbathcnt*0,
garagecarcnt*0,garagetotalsqft*0,hashottuborspa*0,lotsizesquarefeet,poolcnt*0,pooltypeid10*0,pooltypeid2*0,pooltypeid7*0
,propertycountylandusecode,propertylandusetypeid,rawcensustractandblock,regionidcounty,regionidcity,regionidzip,roomcnt,unitcnt
,yearbuilt,taxvaluedollarcnt,structuretaxvaluedollarcnt,landtaxvaluedollarcnt,assessmentyear,taxamount

SyntaxError: ignored

In [2]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [3]:
import tensorflow as tf
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%load_ext tensorboard

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [14]:
df = pd.read_csv('/content/gdrive/My Drive/dataset/properties_2016.csv')

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (22,32,34,49,55) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [0]:
#colonnes supprimer
df = df.drop(['architecturalstyletypeid', 'basementsqft','calculatedbathnbr','finishedfloor1squarefeet','finishedsquarefeet6','finishedsquarefeet13',
'finishedsquarefeet50','heatingorsystemtypeid' ,'latitude','longitude','numberofstories','parcelid','poolsizesum','censustractandblock',
'regionidneighborhood','storytypeid','typeconstructiontypeid','yardbuildingsqft17','yardbuildingsqft26','taxdelinquencyflag',
'taxdelinquencyyear'],axis=1)

In [0]:
df = df[df['finishedsquarefeet15'].notna()]

In [0]:
df['airconditioningtypeid'] = df['airconditioningtypeid'].fillna(value=0)

In [0]:
df['bathroomcnt'] = df['bathroomcnt'].fillna(value=0)

In [0]:
df['bedroomcnt'] = df['bedroomcnt'].fillna(value=0)

In [0]:
df['buildingclasstypeid'] = df['buildingclasstypeid'].fillna(value=6)

In [0]:
df = df[df['buildingqualitytypeid'].notna()]

In [0]:
df['calculatedfinishedsquarefeet'] = df['calculatedfinishedsquarefeet'].fillna(value=0)

In [0]:
df = df[df['fips'].notna()]

In [0]:
df['fullbathcnt'] = df['fullbathcnt'].fillna(value=0)

In [0]:
df = df[df['lotsizesquarefeet'].notna()]

In [0]:
df['poolcnt'] = df['poolcnt'].fillna(value=0)

In [0]:
df['pooltypeid10'] = df['pooltypeid10'].fillna(value=0)

In [0]:
df['pooltypeid7'] = df['pooltypeid7'].fillna(value=0)

In [0]:
df = df[df['propertycountylandusecode'].notna()]

In [0]:
df = df[df['regionidcity'].notna()]

In [0]:
df['unitcnt'] = df['unitcnt'].fillna(value=0)

In [0]:
df = df[df['yearbuilt'].notna()]

In [0]:
df = df[df['taxvaluedollarcnt'].notna()]

In [0]:
df = df[df['taxamount'].notna()]

In [0]:
df = df[df['structuretaxvaluedollarcnt'].notna()]

In [0]:
df = df[df['propertyzoningdesc'].notna()]

In [0]:
df['hashottuborspa'] = df['hashottuborspa'].fillna(value=0)

In [0]:
df = df.drop(['decktypeid','finishedsquarefeet12','fireplacecnt','garagecarcnt','garagetotalsqft','pooltypeid2','threequarterbathnbr','fireplaceflag'],axis=1)

In [39]:
100* df.isnull().sum()/len(df)

airconditioningtypeid           0.0
bathroomcnt                     0.0
bedroomcnt                      0.0
buildingclasstypeid             0.0
buildingqualitytypeid           0.0
calculatedfinishedsquarefeet    0.0
finishedsquarefeet15            0.0
fips                            0.0
fullbathcnt                     0.0
hashottuborspa                  0.0
lotsizesquarefeet               0.0
poolcnt                         0.0
pooltypeid10                    0.0
pooltypeid7                     0.0
propertycountylandusecode       0.0
propertylandusetypeid           0.0
propertyzoningdesc              0.0
rawcensustractandblock          0.0
regionidcity                    0.0
regionidcounty                  0.0
regionidzip                     0.0
roomcnt                         0.0
unitcnt                         0.0
yearbuilt                       0.0
structuretaxvaluedollarcnt      0.0
taxvaluedollarcnt               0.0
assessmentyear                  0.0
landtaxvaluedollarcnt           0.0
taxamount                       0.0
dtype: float64

In [40]:
df.head()

    airconditioningtypeid  bathroomcnt  ...  landtaxvaluedollarcnt  taxamount
3                     0.0          0.0  ...               585488.0   14557.57
5                     0.0          0.0  ...               106932.0    3661.28
9                     0.0          0.0  ...                42761.0    4054.76
17                    0.0          0.0  ...                29770.0    2330.24
20                    0.0          0.0  ...               306153.0    6840.34

[5 rows x 29 columns]

#propertycountylandusecode :  Code d'utilisation des terres du comté, c'est-à-dire le zonage au niveau du comté -> 78 code

In [41]:
df['propertycountylandusecode'].value_counts()

0200    94918
0300    31174
0400    28115
1210     5955
1200     2213
        ...
040A        1
1181        1
0305        1
0310        1
0403        1
Name: propertycountylandusecode, Length: 78, dtype: int64

In [0]:
df = pd.concat([df,pd.get_dummies(df['propertycountylandusecode'],prefix="propertycountylandusecode")],axis=1)
df.drop('propertycountylandusecode', axis=1, inplace=True)

#buildingclasstypeid : Le type de charpente du bâtiment (charpente métallique, charpente en bois, béton/brique) -> 6 types

In [43]:
df['buildingclasstypeid'].value_counts()

6.0    156838
4.0      6848
3.0      2068
5.0        18
2.0        16
1.0         1
Name: buildingclasstypeid, dtype: int64

In [0]:
df = pd.concat([df,pd.get_dummies(df['buildingclasstypeid'],prefix="buildingclasstypeid")],axis=1)
df.drop('buildingclasstypeid', axis=1, inplace=True)

#'buildingqualitytypeid' : Évaluation globale de l'état du bâtiment, du meilleur (le plus bas) au pire (le plus élevé) -> 9 types

In [45]:
df['buildingqualitytypeid'].value_counts()

7.0     155373
4.0       9148
10.0       963
1.0        280
12.0        12
6.0          7
8.0          3
5.0          2
2.0          1
Name: buildingqualitytypeid, dtype: int64

In [0]:
df = pd.concat([df,pd.get_dummies(df['buildingqualitytypeid'],prefix="buildingqualitytypeid")],axis=1)
df.drop('buildingqualitytypeid', axis=1, inplace=True)

In [47]:
df['hashottuborspa'].value_counts()

0       165675
True       114
Name: hashottuborspa, dtype: int64

In [0]:
df['hashottuborspa'] = df['hashottuborspa'].astype('int64')

In [49]:
df['hashottuborspa'].value_counts()

0    165675
1       114
Name: hashottuborspa, dtype: int64

#propertylandusetypeid : Type d'utilisation du terrain pour lequel la propriété est zonée

In [50]:
df['propertylandusetypeid'].value_counts()

246.0    96846
247.0    31527
248.0    28461
31.0      6386
47.0      2568
260.0        1
Name: propertylandusetypeid, dtype: int64

In [0]:
df = pd.concat([df,pd.get_dummies(df['propertylandusetypeid'],prefix="propertylandusetypeid")],axis=1)
df.drop('propertylandusetypeid', axis=1, inplace=True)

#'regionidcity' : Ville dans laquelle le bien est situé (le cas échéant)

In [52]:
df['regionidcity'].value_counts()

12447.0    69964
46298.0    12173
17882.0     6609
45888.0     3193
47762.0     2953
           ...
32927.0        2
37882.0        1
48211.0        1
41673.0        1
40633.0        1
Name: regionidcity, Length: 120, dtype: int64

In [0]:
df = pd.concat([df,pd.get_dummies(df['regionidcity'],prefix="regionidcity")],axis=1)
df.drop('regionidcity', axis=1, inplace=True)

In [54]:
df['regionidcounty'].value_counts()

3101.0    165789
Name: regionidcounty, dtype: int64

In [0]:
df = df.drop(['regionidcounty'],axis=1)

In [56]:
df['fips'].value_counts()

6037.0    165789
Name: fips, dtype: int64

In [0]:
df = df.drop(['fips'],axis=1)

#'regionidzip' : Code postal dans lequel se trouve le bien

In [58]:
df['regionidzip'].value_counts()

95992.0    4948
96025.0    3647
96003.0    3256
96083.0    3250
96007.0    3243
           ...
96048.0       2
97344.0       2
96072.0       1
96356.0       1
96384.0       1
Name: regionidzip, Length: 271, dtype: int64

In [0]:
df = pd.concat([df,pd.get_dummies(df['regionidzip'],prefix="regionidzip")],axis=1)
df.drop('regionidzip', axis=1, inplace=True)

#'propertyzoningdesc' : Description des utilisations du sol autorisées (zonage) pour cette propriété

In [60]:
df['propertyzoningdesc'].value_counts()

LAR2        20409
LARD1.5     11768
LAR1        10678
LAR3         8230
LARD2        7892
            ...
EMR1B           1
MOR3PY          1
LRR17000        1
SGR 3YY         1
LCR1600*        1
Name: propertyzoningdesc, Length: 2097, dtype: int64

In [61]:
len(df.columns)

511

In [66]:
len(df)

165789

In [67]:
df.head()

    airconditioningtypeid  ...  regionidzip_399675.0
3                     0.0  ...                     0
5                     0.0  ...                     0
9                     0.0  ...                     0
17                    0.0  ...                     0
20                    0.0  ...                     0

[5 rows x 511 columns]